* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
}

a {
    color: #fcf7f796;
}

/* navbar style start */
nav {
    position: relative;
    position: sticky;
    padding: 0 2rem;
    /* background: #ffffff; */
    /* background: var(--transparent); */
    background: #000000;
    top: 0rem;
    z-index: 100;
}

.navbar {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .links li a {
    padding: 6px 15px;
    border-radius: 20px;
}

nav .links li a:hover,
nav .links li a.active,
.dropdown_menu li a.active {
    background: #000000;
    color: #ffffff;
}



.navbar .logo img {
    height: 2rem;
    cursor: pointer;
    /* width: 100%; */
}



.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .links a {
    font-size: 1.5rem;
}

.navbar .toggle_btn {
    /* color: var(--basic); */
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.log-btn a {
    margin: 0 10px;
}

.action-btn {
    background-color: #15803d;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    border: solid 1px #15803d;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action-btn1 {
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    border: solid 1px #ffffff;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action-btn:hover {
    scale: 1.05;
    background-color: #2e7649;
}

.action-btn:active {
    scale: 0.95;
}

.cart-btn i {
    color: #fff;
    font-size: 1.5rem;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 65px;
    height: 0;
    width: 300px;
    /* background-color: rgba(225, 225, 225, 0.1); */
    background-color: #000000;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 330px;
}

.dropdown_menu li {
    padding: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-btn,
.dropdown_menu .action-btn1 {
    /* width: 50%; */
    display: flex;
    margin-bottom: 6px;
    justify-content: center;
}

/* navbar media query  style */
@media screen and (max-width: 428px) {

    .navbar .links,
    .navbar .action-btn,
    .action-btn1 {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .action-btn:hover {
        scale: none;
    }
}